@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Manrope", sans-serif;
}

.btn-gradient {
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
    color: white;
    font-weight: 800;
}

.navbar .navbar-center ul li :hover{
    background: transparent;
    color: #9873FF;
}

.navbar .navbar-center ul li .active{
    background: transparent;
    color: #9873FF;
    outline: 1px solid #9873FF;
}