.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited{
    background-color: rgb(100, 99, 99);
}

@media screen and (max-width: 576px) {
    .country-container{
        grid-template-columns: 1fr;
    }  
}